.app {
    display: flex;
    align-items: center;
}

.temp-control-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    background-color: rgb(77, 98, 136);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.temperature-display {
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid white;
    transition: background 1s;
}

.temp-button {
    border: 3px solid white;
    background-color: rgb(76, 76, 76);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 30px;
}

.temp-button {
    margin: 0 25px;
}

.temp-button:first-child {
    margin-left: 0;
}

.temp-button:last-child {
    margin-right: 0px;
}

.temperature-display h1, .temp-button {
    color: white;
}

.temperature-display h1 {
    font-size: 48px;
}

.cold {
    background-color: rgb(0, 128, 255);
}

.hot {
    background-color: rgb(255, 94, 94);
}
